@import "../variables.css";
@import "../placeholders.css";

.navbar {
	background-color: var(--color-blue);
}

.page-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	@extend %font-16-18;
	font-weight: 700;
	margin: 0;
	padding: 0;

	a {
		padding: .5rem 1rem;
		background: white;
		color: var(--color-blue);
		white-space: nowrap;
		margin-right: 1px;
		cursor: pointer;

		&.is-actived {
			color: white;
			background: var(--color-blue);
		}
	}
}

.page-header-container {
	min-height: 300px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 5%;
	padding: 2rem;
	text-align: center;
	border-top: solid 3px var(--color-blue);

	h2 {
		@extend %font-black-36__72;
		padding-top: 15vh;
		padding-bottom: 15vh;
		color: var(--color-blue);
	}
}

.page-header {
	@extend %header-white;
}

.page-province {
	margin: 0 auto;
	color: var(--color-blue);
	counter-reset: candidate;
	text-align: center;
	@extend %wrapper;
	background: white;
	padding: 20px;
	max-width: var(--max-width);
	min-height: 100px;

	@media (--from-intermedium) {
		margin-top: -100px;
	}

	h3 {
		display: inline;
		margin: 0 .5em 0 0;
	}

	+ .page-province {
		margin-top: 4em;
	}
}

.page-candidates-main {
	@extend %grid-1-2-3-3-4;
	margin-bottom: 2em;
	justify-content: center;

	li {
		counter-increment: candidate;
	}
	strong {
		&::before {
			content: counter(candidate) ". ";
			display: inline-block;
			font-weight: normal;
			color: var(--color-gray);
		}
	}

	img {
		margin: 0 auto .5em auto;
	}
}
.page-candidates-secondary {
	list-style: none;
	padding: 0;
	text-align: center;

	li {
		counter-increment: candidate;
		display: inline-block;
		margin: .5em .5em;
		white-space: nowrap;
	}
	strong {
		&::before {
			content: counter(candidate) ". ";
			display: inline-block;
			width: 1.2em;
			font-weight: normal;
			color: var(--color-gray);
		}
	}
}
.page-substitutes {
	list-style: none;
	padding: 0;
	color: var(--color-blue);
	margin: 0;
	counter-reset: candidate;
	display: inline;

	li {
		display: inline-block;
		margin-right: 1em;
		counter-increment: candidate;
		white-space: nowrap;

		&::before {
			content: counter(candidate) ". ";
			font-weight: normal;
		}
	}
}
