@import "../variables.css";
@import "../placeholders.css";

.navbar {
	background-color: var(--color-blue);
}

.page-header-container {
	@extend %header-blue;
}

.page-province {
	margin: 0 auto;
	color: var(--color-blue);
	counter-reset: candidate;
	text-align: center;

	h2 {
		@extend %font-black-24__36;
		color: var(--color-black);
	}
	h3 {
		display: inline;
		margin: 0 .5em 0 0;
	}

	+ .page-province {
		margin-top: 4em;
	}
}

.page-candidates-main {
	@extend %grid-1-2-3-3-4;
	margin-bottom: 2em;
	justify-content: center;

	li {
		counter-increment: candidate;
	}
	strong {
		&::before {
			content: counter(candidate) ". ";
			display: inline-block;
			font-weight: normal;
			color: var(--color-gray);
		}
	}

	img {
		margin: 0 auto .5em auto;
	}
}
.page-candidates-secondary {
	list-style: none;
	padding: 0;
	text-align: center;

	li {
		counter-increment: candidate;
		display: inline-block;
		margin: .5em .5em;
		white-space: nowrap;
	}
	strong {
		&::before {
			content: counter(candidate) ". ";
			display: inline-block;
			width: 1.2em;
			font-weight: normal;
			color: var(--color-gray);
		}
	}
}
.page-substitutes {
	list-style: none;
	padding: 0;
	color: var(--color-blue);
	margin: 0;
	counter-reset: candidate;
	display: inline;

	li {
		display: inline-block;
		margin-right: 1em;
		counter-increment: candidate;
		white-space: nowrap;

		&::before {
			content: counter(candidate) ". ";
			font-weight: normal;
		}
	}
}
