@import "../variables.css";
@import "../placeholders.css";

.navbar {
	background-color: var(--color-blue);
}

.page-header-container {
	@extend %header-blue;
}

.page-province {
	margin: 0 auto;
	color: var(--color-blue);

	h2 {
		@extend %font-black-24__36;
		text-align: center;
	}
	h3 {
		display: inline;
		margin: 0 .5em 0 0;
	}

	+ .page-province {
		margin-top: 4em;
	}
}

.page-candidates {
	@extend %grid-1-2-3-3-4;
	counter-reset: candidate;
	margin-bottom: 2em;

	li {
		margin-bottom: 1px;
		display: flex;
		align-items: center;
		counter-increment: candidate;
	}
	strong {
		&::before {
			content: counter(candidate);
			display: block;
			font-weight: normal;
			color: var(--color-gray);
		}
	}

	img {
		margin: 0 1em 0 0;
		flex: 0 0 92px;
	}
}
.page-substitutes {
	list-style: none;
	padding: 0;
	color: var(--color-blue);
	margin: 0;
	counter-reset: candidate;
	display: inline;

	li {
		display: inline-block;
		margin-right: 1em;
		counter-increment: candidate;
		white-space: nowrap;

		&::before {
			content: counter(candidate) ". ";
			font-weight: normal;
		}
	}
}
	/*
	@media (--from-intermedium) {
		display: flex;
		align-items: center;

		h2 {
			text-align: right;
			flex: 0 0 12rem;
			margin-right: 20px;
		}

		> ol {
			background: url('../../svg/ico-bracket-right.svg') no-repeat left center;
			background-size: 80px 100%;
			padding-left: 6em;
		}
	}
	*/
