@import "../variables.css";
@import "../placeholders.css";

.navbar {
	background-color: var(--color-blue);
}

.page-header-container {
	@extend %header-blue;
}

.page-content {
	@media (--from-medium) {
		display: flex;
		justify-content: space-around;
	}
}
.page-timeline {
	display: none;

	@media (--from-medium) {
		display: block;
		flex: 1 1 200px;
		max-width: 520px;
	}
}
.page-events {
	@media (--from-medium) {
		flex: 1 1 200px;
		max-width: 50%;
	}

	> h2 {
		@extend %font-18-24;
	}
}
.page-events-day {
	> h3 {
		color: var(--color-blue);
		background: url('../../img/svg/ico-arrow-right.svg') no-repeat left center;
		padding-left: 24px;
		cursor: pointer;
		font-size: var(--font-24);

		&:hover {
			text-decoration: underline;
		}

		&.is-past {
			opacity: .4;
		}
	}
	> ul {
		display: none;
		margin-left: 24px;
	}

	&.is-opened {
		> h3 {
			background-image: url('../../img/svg/ico-arrow-down.svg');
			opacity: 1;
		}
		> ul {
			display: block;
		}
	}

	+ .button {
		margin-top: 6rem;
		margin-bottom: 6rem;
	}
}
