@import "../variables.css";
@import "../placeholders.css";

.navbar {
	background-color: var(--color-blue);
}

.page-header-container {
	@extend %header-blue;
}

.page-content {
	@media (--from-medium) {
		display: flex;
		justify-content: space-around;
	}
}
.page-timeline {
	display: none;

	@media (--from-medium) {
		display: block;
		flex: 1 1 200px;
		max-width: 520px;
	}
}
.page-events {
	@media (--from-medium) {
		flex: 1 1 200px;
		max-width: 50%;

	}
}
.page-events-day {
	> h2 {
		color: var(--color-blue);
		background: url('../../svg/ico-arrow-right.svg') no-repeat left center;
		padding-left: 24px;
		cursor: pointer;

		&:hover {
			text-decoration: underline;
		}
	}
	> ul {
		display: none;
		margin-left: 24px;
	}

	&.is-opened {
		> h2 {
			background-image: url('../../svg/ico-arrow-down.svg');
		}
		> ul {
			display: block;
		}
	}

	+ .button {
		margin-top: 6rem;
	}
}
