@import "../variables.css";
@import "../placeholders.css";

@import "../modules/hero.css";


.page-highlights {
	@extend %wrapper;
	max-width: var(--max-width);
}
.page-highlights-content {
	margin-top: 1rem;
	background: white;
	@extend %grid-1-2-2-3-3-4;

	@media (--from-narrow) {
		margin-top: 2rem;
	}

	@media (--from-intermedium) {
		margin-top: -3rem;
		padding: 3rem 3rem 0
	}
}
@media (--from-intermedium) {
	.hero {
		padding-bottom: 3rem;
	}
}

.page-highlights-filters {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	@extend %font-16-18;
	font-weight: 700;
	margin: 0;
	padding: 0;

	li {
		padding: .5rem;
		background: var(--color-blue);
		color: white;
		white-space: nowrap;
		margin-right: 1px;
		cursor: pointer;

		&.is-actived {
			color: var(--color-blue);
			background: white;
		}
	}
}

.hero-title,
.hero-menu,
.hero-social,
.hero-quote {
	animation-name: fadeInLeft;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-timing-function: ease-out;
}
.hero-title {
	animation-delay: 1s;
}
.hero-quote {
	animation-delay: 1.2s;
}
.hero-menu {
	animation-delay: 1.4s;
}
.hero-social {
	animation-delay: 1.6s;
}

@keyframes fadeInLeft {
	from {
		opacity: 0;
		transform: translateX(-200px);
	}
	50% {
		opacity: 1;
	}
	to {
		transform: translateX(0);
	}
}