@import "../variables.css";
@import "../placeholders.css";

@import "../modules/hero.css";


.page-highlights {
	@extend %wrapper;
	max-width: var(--max-width);
}
.page-highlights-content {
	margin-top: 1rem;
	@extend %grid-1-2-2-3-3-4;

	@media (--from-narrow) {
		margin-top: 2rem;
	}
}

.page-highlights-filters {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	@extend %font-16-18;
	font-weight: 700;
	margin: 0;
	padding: 0;

	li {
		padding: .5rem;
		background: var(--color-blue);
		color: white;
		white-space: nowrap;
		margin-right: 1px;
		cursor: pointer;

		&.is-actived {
			color: var(--color-blue);
			background: white;
		}
	}
}