@import "../variables.css";
@import "../placeholders.css";

.navbar {
	background-color: var(--color-green);
}
.container {
	background-color: var(--color-green);
}
.navfooter::before {
	border-top-color: var(--color-green);
}

.page-content {
	padding-top: 3rem;
	@extend %wrapper;
	max-width: var(--max-width);

	> header {
		@extend %wrapper;
		max-width: var(--max-width);
		margin-top: 20px;
		padding-bottom: 2rem;
		text-align: center;
		color: white;

		@media (--from-intermedium) {
			margin-top: 40px;
		}

		h1 {
			@extend %font-black-36__72;
			margin: 0;
		}
	}
}
.page-intro {
	@extend %font-18-24;
}
.page-text {
	@extend %font-16-18;

	h2 {
		line-height: 1;
		font-size: var(--font-24);
		min-height: 2em;
	}

	@media (--from-intermedium) {
		display: flex;

		> section {
			width: calc((100% / 3) - ((20px * 2) / 3));
			margin-right: 20px;

			&:nth-child(3n) {
				margin-right: 0;
			}
		}
	}
}
.page-navigation-main {
	display: flex;
	justify-content: center;
	@extend %wrapper;
	text-align: center;
	text-transform: uppercase;
	align-items: flex-end;
	font-weight: bold;
	max-width: var(--max-width);

	.is-active {
		background: white;
		color: var(--color-green);
	}

	a {
		color: white;
		display: inline-block;
		padding: 1em;
		text-decoration: none;

		&:hover {
			color: white;
			background-color: color(var(--color-green) blackness(+20%));
		}
	}

	@media (--to-medium) {
		display: none;
	}
}

.page-blocks {
	@extend %grid-1-2-3-4-5;
	margin-top: 2rem;

	a {
		background: var(--color-blue);
		display: block;
		color: white;
		padding: 1em;
		box-sizing: border-box;
		height: 100%;
		min-height: 3em;
	}
}