@import "../variables.css";
@import "../placeholders.css";

.navbar {
	background-color: var(--color-green);
}

.page-header-container {
	background: var(--color-green);
	color: white;

	> header {
		@extend %wrapper;
		max-width: var(--max-width);
		margin-top: 20px;
		padding-bottom: 2rem;
		text-align: center;

		@media (--from-intermedium) {
			margin-top: 40px;
		}

		h1 {
			@extend %font-black-36__72;
			margin: 0;
		}
	}

	+ div {
		@extend %wrapper;
		background: white;
		max-width: var(--max-width);
	}
}
.page-navigation-main {
	display: flex;
	justify-content: center;
	@extend %wrapper;
	text-align: center;
	text-transform: uppercase;
	align-items: flex-end;
	font-weight: bold;
	max-width: var(--max-width);

	.is-active {
		background: white;
		color: var(--color-green);
	}

	a {
		color: white;
		display: inline-block;
		padding: 1em;
		text-decoration: none;

		&:hover {
			color: white;
			background-color: color(var(--color-green) blackness(+20%));
		}
	}

	@media (--to-medium) {
		display: none;
	}
}
.page-content {
	padding-top: 3rem;
	@extend %wrapper;
}