@import "../variables.css";
@import "../placeholders.css";

.navbar {
	background-color: var(--color-blue);
}

.page-header-container {
	background: var(--color-blue);
	color: white;

	a {
		color: inherit;
	}

	> header {
		@extend %wrapper;
		max-width: var(--max-width);
		margin-top: 20px;
		padding-bottom: 2rem;
		text-align: center;

		@media (--from-intermedium) {
			margin-top: 40px;
		}

		h1 {
			@extend %font-black-36__72;
			margin: 0;
		}
	}

	+ div {
		@extend %wrapper;
		background: white;
		max-width: var(--max-width);
	}
}
.page-navigation-main {
	display: flex;
	justify-content: center;
	@extend %wrapper;
	text-align: center;
	text-transform: uppercase;
	align-items: flex-end;
	font-weight: bold;
	max-width: var(--max-width);

	.is-active {
		background: white;
		color: var(--color-blue);
	}

	a {
		color: white;
		display: inline-block;
		padding: 1em;
		text-decoration: none;

		&:hover {
			color: white;
			background-color: color(var(--color-blue) blackness(+20%));
		}
	}

	@media (--to-medium) {
		display: none;
	}
}
.page-navigation-secondary {
	@extend %wrapper;
	border-bottom: solid 3px var(--color-blue);
	@extend %font-16-18;
	font-weight: bold;
	max-width: var(--max-width);
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 2rem;

	a {
		color: var(--color-blue);
		background: url('../../img/svg/ico-arrow-left.svg') no-repeat left center;
		padding-left: 20px;
		display: inline-block;
		white-space: nowrap;
	}
}
