@import "../variables.css";
@import "../placeholders.css";

.navbar {
	background-color: var(--color-blue);
}
.page-header {
	@extend %header-white;
}

.page-content {
	@extend %wrapper;
	max-width: var(--max-width);

	> h2 {
		margin: 3em 0 1em;

	}
}
