@import "../variables.css";
@import "../placeholders.css";

.navbar {
	background-color: var(--color-blue);
}

.page-header {
	@extend %header-white;
}

.page-content {
	max-width: var(--max-width-text);
	@extend %wrapper;
	margin: auto;
}
.page-form {
	border-top: solid 3px var(--color-gray-light);
	border-bottom: solid 3px var(--color-gray-light);
	padding: 2em 0;
	margin: 2em 0;

	h2 {
		margin: 0 0 2em 0;
		text-align: center;
	}
}

.page-legal {
	font-size: var(--font-14);
	margin-top: 4em;
}
.page-message-ok {
	border-top: solid 3px var(--color-gray-light);
	border-bottom: solid 3px var(--color-gray-light);
	padding: 2em 0;
	margin: 2em 0;
	text-align: center;
	
	h2 {
		margin: 0;
	}
	p {
		margin-top: .5em;
		margin-bottom: 2em;
	}
}

.section + h2 {
	margin-top: 2em;
}