@import "../variables.css";
@import "../placeholders.css";

.navbar {
	background-color: var(--color-blue);
}

.page-content {
	margin-top: 40px;
	
	> header {
		@extend %wrapper;
		max-width: var(--max-width-text);
	}
}
