.button {
	display: inline-block;
	padding: 1em;
	border: solid 3px;
	font-weight: 700;
	font-size: var(--font-18);
	text-decoration: none;

	&:hover {
		color: white;
		background: var(--color-blue);
		text-decoration: none;
	}

	path {
		fill: currentColor;
	}

	&.has-icon {
		display: flex;
		align-items: center;
		max-width: 20em;
		margin: 0 auto;
	}
}

.button-icon {
	margin-right: .5em;
}