.highlight {
	> a {
		display: block;
	}
}
.highlight-type {
	background: var(--color-blue);
	color: white;
	padding: .1em .35em;
	font-size: var(--font-16);
}
.highlight-province {
	background: white;
	font-style: normal;
	padding: .2em .3em;
}
.highlight-title {
	@extend %font-16-18;
}

.highlight-image {
	position: relative;
}
.highlight-details {
	position: absolute;
	display: flex;
	bottom: 0;
	left: 0;
	margin: 0;
}
.highlight-embed {
	iframe {
		display: block;
		margin: 0 !important;
	}
	.fb-post, .fb-post > span, .fb-post iframe {
		max-width: 100%;
	}

	&.is-responsive {
		position: relative;
		width: 100%;
		padding-bottom: 60.5%;

		iframe {
			position: absolute !important;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
	}
}