.highlight {
	> a {
		display: block;
	}
}
.highlight-type {
	background: var(--color-blue);
	color: white;
	padding: .2em .3em;
}
.highlight-province {
	background: white;
	font-style: normal;
	padding: .2em .3em;
}
.highlight-title {
	@extend %font-16-18;
}

.highlight-image {
	position: relative;
}
.highlight-details {
	position: absolute;
	display: flex;
	bottom: 0;
	left: 0;
	margin: 0;
}
.highlight-embed {
	position: relative;
	width: 100%;
	padding-bottom: 60%;

	iframe {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}