.navbar {
	position: fixed;
	/*
	position: absolute;
	*/
	top: 0;
	left: 0;
	width: 100%;
	box-sizing: border-box;
	color: white;
	transition: background .2s;
	z-index: 10;

	+ div, + header, + article {
		padding-top: 5rem;
	}

	/*
	@media (min-height: 500px) {
		position: fixed;
	}
	*/
}

.navbar-content {
	@extend %wrapper;
	max-width: var(--max-width);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-logo {
	color: inherit;
	max-width: 66%;
	padding-top: 10px;
	padding-bottom: 10px;

	svg {
		display: block;
		max-width: 100%;

		@media (--to-intermedium) {
			width: 200px;
			height: 41px;
		}
	}
	path {
		fill: currentColor;
	}
}
.navbar-links {
	margin-left: 2rem;
	display: flex;
	align-items: center;

	g {
		fill: currentColor;
	}

	a {
		color: inherit;
		font-weight: 700;
		text-transform: lowercase;
		display: block;
		padding: 0 .5em;
		white-space: nowrap;
	}

	.is-rrss {
		display: flex;
	}

	.is-section a {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: var(--font-18);

		&.is-desktop {
			display: flex;
			align-items: center;

			a {
				&.is-actived {
					background: white;
					color: var(--color-blue);
				}
			}

			> li {
				display: none;
			}
			.is-rrss {
				border-right: solid 1px;
				padding-right: 1rem;
				margin-right: 1rem;
			}
		}
		&.is-mobile {
			position: fixed;
			right: 4%;
			top: 50px;
			transform: translateX(100px);
			opacity: 0;
			transition: transform .3s, opacity .3s;
			background: white;
			color: var(--color-blue);
			margin-top: 1.5em;
			box-shadow: 0 1px 1px color(black a(.4));

			@media (--to-intermedium) {
				top: 32px;
			}

			a {
				padding: .6em 2em;
				text-decoration: none;

				&:hover {
					background: var(--color-blue);
					color: white;
				}
			}

			.is-rrss {
				border-bottom: solid 1px var(--color-gray-light);

				> a {
					padding: 1em;
				}
			}
		}
	}
	&.is-opened {
		.is-mobile {
			transform: translateX(0);
			opacity: 1;
		}
		.navbar-toggle {
			opacity: .5;
		}
	}

	@media (min-width: 600px) {
		ul.is-desktop > li:nth-child(1) {
			display: flex;
		}
		ul.is-mobile > li:nth-child(1) {
			display: none;
		}
	}

	@media (min-width: 700px) {
		ul.is-desktop > li:nth-child(2) {
			display: block;
		}
		ul.is-mobile > li:nth-child(2) {
			display: none;
		}
	}

	@media (min-width: 800px) {
		ul.is-desktop > li:nth-child(3) {
			display: block;
		}
		ul.is-mobile > li:nth-child(3) {
			display: none;
		}
	}

	@media (min-width: 900px) {
		ul.is-desktop > li:nth-child(4) {
			display: block;
		}
		ul.is-mobile > li:nth-child(4) {
			display: none;
		}
	}

	@media (min-width: 1000px) {
		ul.is-desktop > li:nth-child(5) {
			display: block;
		}
		ul.is-mobile > li:nth-child(5) {
			display: none;
		}
	}

	/* cambiar a (min-width: 1100px) cando haxa unha opción máis */
	/* cambiar a (min-width: 1200px) cando haxa dúas opción máis */
	@media (min-width: 1100px) {
		ul.is-desktop > li {
			display: block;
		}
		ul.is-mobile {
			display: none;
		}
		.navbar-toggle {
			display: none;
		}
	}
}
.navbar-toggle {
	border: none;
	background: none;
	padding: .5em;
	margin-left: 1em;
	color: inherit;

	g {
		stroke: currentColor;
		stroke-width: 3px;
	}
}
html.is-scrolled {
	.navbar {
		background: white;
		box-shadow: 0 0 2px color(black a(.4));
	}

	.navbar-logo {
		path {
			fill: var(--color-blue);
		}
	}
	.navbar-links {
		color: var(--color-blue);

		ul.is-desktop {
			a {
				&.is-actived {
					background: var(--color-blue);
					color: white;
				}
			}
		}
	}
}