.navfooter {
	width: 100%;
	box-sizing: border-box;
	background: var(--color-blue);
	color: white;
	padding-bottom: 40px;
	overflow-x: hidden;
	
	&:before {
		content: "";
		display: block;
		border-top: solid 300px white;
		border-left: solid 100vw transparent;
		margin: 0 0 -200px auto;
		width: 90vw;
		height: 0;
		box-sizing: border-box;
	}
}
.navfooter-content {
	@extend %wrapper;
}
.navfooter-logo {
	g {
		fill: white;
	}
	strong {
		display: block;
		@extend %font-black-24__36;
		max-width: 10em;
		line-height: .9;
		margin-top: 1.5rem;
	}
}
.navfooter-links {
	margin-top: 1.5rem;

	ul {
		border-top: solid 1px;
		list-style: none;
		margin: 0;
		padding: 0;
		display: inline-flex;
		align-items: center;
		font-size: var(--font-14);
		padding-top: 1.5rem;
		max-width: 40rem;

		> li {
			margin-right: 1em;

			&.is-youtube {
				border-right: solid 1px;
				padding-right: 1em;
			}
		}
	}
	g {
		fill: currentColor;
	}
	a {
		color: inherit;
		display: block;
	}
}