@import "magnific-popup";

.mfp-bg {
	background: white;
	opacity: .5;
	transition: opacity .3s;
}

.popup.is-inline {
	position: relative;
	max-width: 47rem;
	margin: 0 auto;
	padding: 0;
	box-shadow: 0 0 3px color(black a(.3));
}
button.mfp-arrow-left {
	&::before {
		border-right-color: var(--color-blue);
		opacity: 1;
	}
	&::after {
		border-right-color: var(--color-blue);
	}
}
button.mfp-arrow-right {
	&::before {
		border-left-color: var(--color-blue);
		opacity: 1;
	}
	&::after {
		border-left-color: var(--color-blue);
	}
}
.mfp-close-btn-in .mfp-close {
	color: inherit;
}
.mfp-content {
	animation-name: popupIn;
	animation-duration: .5s;
}
.mfp-ready .mfp-content {
}

@keyframes popupIn {
	from {
		opacity: 0;
		transform: scale(.8);
	}
	50% {
		opacity: 1;
	}
	to {
		transform: scale(1);
	}
}