@import "magnific-popup";

.mfp-bg {
	background: white;
	opacity: .7;
	transition: opacity .3s;
}

.popup.is-inline {
	position: relative;
	max-width: 47rem;
	margin: 0 auto;
	padding: 0;
	box-shadow: 0 0 3px color(black a(.3));
}
button.mfp-arrow {
	transform: scale(2);
	color: var(--color-blue);

	&:hover {
		color: color(var(--color-blue) blackness(+20%));
	}
	@media (max-width: 900px) {
		display: none;
	}
}
button.mfp-arrow-left {
	opacity: 1;

	&::before {
		border-right-color: currentColor;
		opacity: 1;
	}
	&::after {
		border-right-color: currentColor;
	}
}
button.mfp-arrow-right {
	opacity: 1;

	&::before {
		border-left-color: currentColor;
		opacity: 1;
	}
	&::after {
		border-left-color: currentColor;
	}
}
.mfp-close-btn-in .mfp-close {
	color: inherit;
}
.mfp-content {
	animation-name: popupIn;
	animation-duration: .5s;
}
.mfp-ready .mfp-content {
}

@keyframes popupIn {
	from {
		opacity: 0;
		transform: scale(.8);
	}
	50% {
		opacity: 1;
	}
	to {
		transform: scale(1);
	}
}