.text-title {
	@extend %font-bold-24__64;
	color: var(--color-blue);
	margin: 0;
}
.text-intro {
	color: var(--color-blue);
	@extend %font-18-24;
	line-height: 1.2;

	a {
		text-decoration: underline;
	}
}
.text-body {
	h2 {
		border-bottom: solid 2px var(--color-blue);
	}
}
.text.is-permalink {
	.text-header {
		@extend %wrapper;
		max-width: var(--max-width-text);
	}
	.text-intro {
		@extend %wrapper;
		max-width: var(--max-width-text);
		margin-bottom: 4rem;
	}
	.text-navigation {
		@extend %wrapper;
		max-width: var(--max-width-text);
		margin-top: 4rem;
		padding-top: 2rem;
		border-top: solid 3px var(--color-blue);
		@extend %font-16-18;
		font-weight: 700;
		
		ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		a {
			background: url('../../img/svg/ico-arrow-right.svg') no-repeat 20px center;
			padding-left: 40px;
			display: inline-block;

			&.is-back {
				background-image: url('../../img/svg/ico-arrow-left.svg');
				background-position: left center;
				padding-left: 20px;
				margin-bottom: 1em;
			}
			&.is-selected {
				color: var(--color-black);
				text-decoration: line-through;
			}
		}
	}
}