.text-title {
	@extend %font-bold-24__64;
	color: var(--color-blue);
	margin: 0;
}
.text-intro {
	color: var(--color-blue);
	@extend %font-18-24;
	line-height: 1.2;

	a {
		text-decoration: underline;
	}
}
.text-body {
	h2 {
		border-bottom: solid 2px var(--color-blue);
	}
}