@font-face {
	font-family: 'qanelas';
	src: url('../fonts/qanelas-regular.otf');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'qanelas';
	src: url('../fonts/qanelas-regularitalic.otf');
	font-style: italic;
	font-weight: 400;
}
@font-face {
	font-family: 'qanelas';
	src: url('../fonts/qanelas-bold.otf');
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: 'qanelas';
	src: url('../fonts/qanelas-bolditalic.otf');
	font-style: italic;
	font-weight: 700;
}
@font-face {
	font-family: 'qanelas';
	src: url('../fonts/qanelas-black.otf');
	font-style: normal;
	font-weight: 900;
}