:root {
	--font: qanelas, helvetica, arial, sans-serif;
	--color-blue: #004FFF;
	--color-black: #313131;
	--color-gray-light: color(var(--color-black) tint(85%));
	--color-gray: color(var(--color-black) tint(60%));
	--max-width: 82rem;
	--max-width-text: 56rem;

	--font-14: .8rem;
	--font-16: 1rem;
	--font-18: 1.125rem;
	--font-24: 1.5rem;
	--font-36: 2.25rem;
	--font-64: 4rem;
	--font-72: 4.5rem;
}

@custom-media --to-narrow (max-width: 30rem);
@custom-media --from-narrow (min-width: 30.01rem);

@custom-media --to-intermedium (max-width: 43rem);
@custom-media --from-intermedium (min-width: 43.01rem);

@custom-media --to-medium (max-width: 56rem);
@custom-media --from-medium (min-width: 56.01rem);

@custom-media --to-wide (max-width: 69rem);
@custom-media --from-wide (min-width: 69.01rem);

@custom-media --to-maxwidth (max-width: 82rem);
@custom-media --from-maxwidth (min-width: 82.01rem);